{# new twig template file - hibbittsdesign.org #}
{% if page.header.githublink %}
  {% set githubURL = page.header.githublink %}
{% else %}
  {% set githubURL = config.site.github.tree ~  ('/'~page.filePathClean)|replace({'/user/':''}) %}
{% endif %}
<a class="newwindow" href="{{ githubURL }}" title="Edit this Page on GitHub">
  {% if config.site.github.icon %}
    <i class="fa fa-{{ config.site.github.icon }}" aria-hidden="true"></i>
  {% endif %}
  Edit this Page</a>
