<span style="color: #888888;">
  <p>Have a suggestion or correction?
    <a class="newwindow" href="{{ config.site.github.tree ~  ('/'~page.filePathClean)|replace({'/user/pages/':''}) }}" title="Edit this page on GitHub">
      {% if config.site.github.icon %}
        <i class="fa fa-{{ config.site.github.icon }}"></i>
      {% endif %}
      Edit this Page</a>
  </p>
</span>
