/*
===============================================================================================================================
Put your custom CSS in this file.
===============================================================================================================================
*/

/* CSS to set NavBar items to white (uncomment to enable) */
/*
.bg-primary .navbar-nav .active>.nav-link
{
    color: #FFFFFF !important;
}
*/
