{% embed 'partials/base.html.twig' %}

  {% set collection = page.collection() %}

  {% block content %}
    {# removed blog title area - hibbittsdesign.org #}
  {#
		{% set blog_image = page.media.images|first %}

		{% if blog_image %}
		<div class="blog-header-image" style="background-image: url({{ blog_image.url }});">
			<div class="row sg-center sg-highlight-light">
				<div class="sg-content">
		{% else %}
		<div class="blog-header">
			<div class="row sg-center">
				<div class="sg-content">
		{% endif %}
					{{ page.content }}
				</div>
			</div>
		</div>
		#}

    {% if config.plugins.breadcrumbs.enabled %}
      <div class="sg-breadcrumb">
        <div class="row">
          {% include 'partials/breadcrumbs.html.twig' %}
        </div>
      </div>
    {% endif %}
    <div class="sg-blog">
      <div class="row">

        {# check content display flag - hibbittsdesign.org #}
        {% if not grav.uri.param('onlydisplaypagecontent') %}
          <div id="listing" class="medium-8 columns medium-nopaddingleft">
          {% else %}
            <div id="listing" class="medium-12 columns medium-nopaddingleft">
            {% endif %}

            {# Added reminders and top sticky post blocks and content check - hibbittsdesign.org #}
            {% for module in page.collection('modular_content') %}
              {% if (module.content|striptags)|trim %}
                <p>{{ module.content }}</p>
              {% endif %}
            {% endfor %}

            {# Added featured post ability - hibbittsdesign.org #}
            {% for post in taxonomy.findTaxonomy({'tag':"Featured"}) %}
              {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':post, 'truncate':true} %}
            {% endfor %}

            {% for child in collection %}
              {% if "Featured" not in child.taxonomy['tag'] %}
                {# multi-course hub compatibility - hibbittsdesign.org #}
                {% if (not child.slug|contains('sidebar')) and (not child.slug|contains('headerimage')) %}
                  {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
                {% endif %}
              {% endif %}
            {% endfor %}

            {% if config.plugins.pagination.enabled and collection.params.pagination %}
              {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
            {% endif %}
          </div>
          {# check content display flag - hibbittsdesign.org #}
          {% if not grav.uri.param('onlydisplaypagecontent') %}
            <div id="sidebar" class="medium-4 columns medium-nopaddingright">
              {% include 'partials/sidebar.html.twig' with {'blog':page} %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endblock %}

  {% endembed %}
