{# new twig template file - hibbittsdesign.org #}
{% embed 'partials/base.html.twig' %}

  {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-12 blog-main">
          {% if not (page.header.hide_page_title) and not (grav.uri.param('hidepagetitle')) %}
            <h3>{{page.title}}</h3>
          {% else %}
            <h3 aria-label={{page.title}}></h3>
          {% endif %}
          {{ page.content }}
          {# Git repository edit link - hibbittsdesign.org #}
          {% if ( page.header.git_sync_repo_link_display is defined and page.header.git_sync_repo_link_display == 'page' ) or (( config.site.gitrepo.editlinklocation == 'page' and page.header.git_sync_repo_link_display is not defined ) and not (page.header.hide_git_sync_repo_link)) %}
            <hr>
            <br>
            {% include 'partials/gitrepo_link_note.html.twig' %}
            <br>
          {% endif %}
        </div>
        {# removed sidebar rendering - hibbittsdesign.org #}
      </div>
    </div>
  {% endblock %}

{% endembed %}
