{# new twig template file - hibbittsdesign.org #}
{% embed 'partials/base.html.twig' %}

  {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-12 blog-main">
          <h3>{{page.title}}</h3>
          {{ page.content }}
          {# GitHub link - hibbittsdesign.org #}
          {% if config.site.github.location == 'page' %}
            <hr>
            <br>
            {% include 'partials/github_page_link.html.twig' %}
            <br>
          {% endif %}
        </div>
        {# removed sidebar rendering - hibbittsdesign.org #}
      </div>
    </div>
  {% endblock %}

{% endembed %}
